.my-navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #17a2b8;
    border-color: #003300;   
}

.my-navbar a{
    color: #ffffff;
}

.my-navbar .active a{
    background-color: #8ee4f1;
    color: #ffffff;
}

.my-navbar a:hover{
	background-color: #fff2e2;
	color: orange;
}

.my-navbar .navbar-brand{
    color: #ffffff;
}

.my-navbar .navbar-brand:hover{
    background-color: #17a2b8;
	color: #ff6600;
}

.navbar-form{
    width: 300px;
}

.navbar-p{
    color: #ffffff;
}

.navbar-dropdown {
    float: right;
    overflow: hidden;
}

.navbar-dropdown .navbar-dropbtn {
    border: none;
    outline: none;
}

.navbar-dropdown:hover .navbar-dropdown-content {
    display: block;
}

.navbar-dropdown-content {
    display: none;
    background-color: white;
    color:#17a2b8;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar-dropdown-content a{
    float: none;
    padding: 12px 16px;
    color: orange;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbar-dropdown-content a:hover{
    background-color: #EEEEEE;
    color: orange;
}

