PROJECT_NAME     = "Culturage"
PROJECT_BRIEF    = "Crowdsourcing project that for contributing information about cultural heritages"
PROJECT_LOGO     = static/logo_doc.png
OUTPUT_DIRECTORY = static/
OUTPUT_LANGUAGE  = English
HTML_OUTPUT      = doc
GENERATE_LATEX   = NO
INPUT            = api auth base filter media recommendation search
EXCLUDE_PATTERNS = migrations __pycache__
