.home-body{
    background: #f2f2f2;
    padding-bottom: 20px;
}

.my-navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #17a2b8;
    border-color: #003300;   
}

.my-navbar li a{
    color: #ffffff;
}

.my-navbar .active a{
    background-color: #8ee4f1;
    color: #ffffff;
}

.my-navbar li a:hover,
.my-navbar a:hover{
	background-color: #102310;
	color: #ffffff;
}

.my-navbar .navbar-brand{
    color: #ffffff;
}

.my-navbar .navbar-brand:hover{
    background-color: #17a2b8;
	color: #ff6600;
}

.navbar-form{
    width: 300px;
}

.newsfeed{
    margin-left: 120px;
    margin-top: 20px;
    width: 60%;
    background: white;
    border: 1px solid #e6e6e6;
    padding-left: 20px;
    padding-right: 20px;
}

.newsfeed-item{
    height: 250px;
    width: 100%;
    padding-top: 20px;
    border-bottom: 1px dashed #e6e6e6;
}

.newsfeed-item h1{
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 24px;
}

.newsfeed-item h2{
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    padding-left: 30px;
    font-size: 12px;
    margin-top: 5px;
}

.newsfeed-item p{
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 15px;
}

.newsfeed-item img{
    max-height: 220px;
    max-width: 100%; 
    display: block;
    margin: 0 auto;
}
