
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #4CAF50;
    border-color: #003300;   
}

.navbar-default .navbar-nav li a{
    color: #ffffff;
}

.navbar-default .navbar-nav .active a{
    background-color: #b8e0b9;
    color: #ffffff;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav .active a:hover{
	background-color: #102310;
	color: #ffffff;
}

.navbar-default .navbar-brand{
	color: white;
}

.navbar-default .navbar-brand:hover{
	color: #ff6600;
}
    
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}
    
/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

.navbar-form{
    width: 300px;
}

.newsfeed{
    margin-left: 120px;
    margin-top: 20px;
    width: 60%;
}

.newsfeed-item{
    height: 250px;
    width: 100%;
    margin-top: 5px;
    padding-left: 10px;
}

.newsfeed-item h1{
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 24px;
    padding-left: 20px;
}

.newsfeed-item p, a{
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 15px;
    padding-left: 15px;
}

.newsfeed-item img{
    max-height: 220px;
    max-width: 100%; 
    display: block;
    margin: 0 auto;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    position:absolute;
    bottom: 0;
    width:100%;
}

img{
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;} 
}