<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CmpE352 Group 11 API Example</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>CmpE352 Group 11 API Example</h1>
                <p class="lead">It adds extra functionality to Twitter API</p>
                <h2><a href="/static/classtwitter_1_1tests_1_1StatsTestCases-members.html">Documentation</a></h2>
                <h3>API Endpoint Reference</h3>
                <div class="table-responsive">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>METHOD</th>
                        <th>ENDPOINT</th>
                        <th>USAGE</th>
                        <th>PARAMETER</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>GET</td>
                        <td>/user/favwords</td>
                        <td>This method counts the frequency of the words a specific user liked.</td>
                        <td>username*, count</td>
                      </tr>
                      <tr>
                        <td>GET</td>
                        <td>/user/liked</td>
                        <td>This method returns three most liked pages of the user, based on likes.</td>
                        <td>username*, count</td>
                      </tr>
                      <tr>
                        <td>GET</td>
                        <td>/user/mention</td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>GET</td>
                        <td>/user/allwords</td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>GET</td>
                        <td>/users/likes</td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>GET</td>
                        <td>/user/hashtag</td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>GET</td>
                        <td>/followers/freq</td>
                        <td>This method finds users who has been tweeting most frequently (on hourly basis).</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>GET</td>
                        <td>/followers/popular</td>
                        <td>This method returns the user who has the most number of followers in the list of the specific user's(given as parameter) followers.</td>
                        <td>username*, count</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <iframe src="https://ghbtns.com/github-btn.html?user=bounswe&repo=bounswe2017group11&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">

          </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
